{% extends "sk_menu_page.html" %}

{% block maincol_content %}
<div class="col-xs-12 col-sm-9 centered">
<div class="col-xs-8">
<form action="" method="post" role="form">{% csrf_token %}  
	{% load bootstrap3 %}
	{{ form_header.non_form_errors.as_ul }}
	{% bootstrap_form form_header %}
	{% bootstrap_form_buttons %}
	{% end_bootstrap_form_buttons %}
	
	{{ help_text }}
	{{ formset.management_form }}
	{{ formset.non_form_errors.as_ul }}
	
	<table class="table table-bordered">
	{% for form in formset.forms %}
	  {% if forloop.first %}
	  <thead><tr>
	    {% for field in form.visible_fields %}
	    <th>{{ field.label|capfirst }}</th>
	    {% endfor %}
	  </tr></thead>
	  {% endif %}
	  <tr>
	  {% for field in form.visible_fields %}
	    <td>
	    {% if forloop.first %}
	      {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
	    {% endif %}
	      {{ field.errors.as_ul }}
	      {{ field }}
	    </td>
	  {% endfor %}
	  </tr>
	{% endfor %}
	</table>
	<button type="submit" type="button" class="btn btn-default">Submit</button>
</form>
</div>
</div>
{% endblock maincol_content %}