table {
	border-collapse: collapse;
	margin: 20px auto;
}

table td {
	border: 1px solid #444;
	padding: 5px 10px !important;
}

td input{
	width: 100%;
}

.clear, .faults, .empty {
	text-align: center;
}

.clear{
	background-color: white;
}

.faults {
	background-color: orange;
}

.empty {
	background-color: #bbb;
}

.auto {
	background-color: #ddd;
}